* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    width: fit-content;
    
    padding: 10px 40px;
    
    border: white 1px solid;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: sans-serif;
}



main {
    display: flex;

    height: calc(100vh - 90px);
}


/* Navbar */

nav {
    width: 230px;
    height: 100%;

    background-color: black;
    color: white;
}
/* Fine navbar */



/******* FRONT PAGE *******/

#front {
    width: calc(100% - 230px);

    overflow-y: auto;

    background-color: #141922;
    color: white;
}

/* upgrade */
.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    
    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.4);
}

.upgrade .btn a {
    font-weight: bold;
    color: white;
}
/* fine upgrade */


.front-box {
    padding: 90px 20px 0px;
}


/* lista */
.front-box .list-front ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    gap: 25px;

    padding-block: 20px;
}

.front-box .list-front ul a {
    font-weight: bold;
    font-size: 11px;
    opacity: 0.5;
}

.front-box .list-front ul a:hover {
    opacity: 1;
    border-bottom: greenyellow 1px solid;
}
/* lista */


.column {
    display: flex;
    flex-direction: column;

    gap: 30px;
    padding-block: 20px;
}

.column h2 {
    padding-bottom: 13px;
}

#cards {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
}

.card {
    width: calc(100% / 6 - 15px / 6 * 5);
    max-width: 200px;
    /* min-width: 177px; */

    text-align: center;
    justify-content: center;
}

.card .card-title {
    padding: 20px 0 10px;

    font-weight: bold;
}

.card .card-img {
    height: 177px;
}

.card .card-img img {
    width: 100%;
    /* height: 100%; */
}

.artisti .card-img img {
    max-width: 177px;
    border-radius: 50%;
}
/************ FINE FRONT PAGE ********/



/* Player */

footer {
    color: white;
    /* test */
    height: 90px;

    width: 100%;

    background-color: #282828;
}

/* Fine player */



/************************************************
        MEDIA QUERY
**************************************************/

@media screen and (max-width: 878px) {

}



@media screen and (max-width: 639px) {
    
}



@media screen and (max-width: 552px) {
    
}






/* 
Small		≥576px
Medium		≥768px
Large		≥992px
Extra large	≥1200px
XXL			≥1400px
*/