* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
}

.btn {
    width: fit-content;

    padding: 10px 40px;

    border: white 1px solid;
    border-radius: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* Navbar */

nav {
    width: 230px;

    background-color: black;
    color: white;
}
/* Fine navbar */



/******* FRONT PAGE *******/

#front {
    flex-grow: 1;

    color: white;
    background-color: #141922;
}

/* upgrade */
.upgrade {
    display: flex;
    width: calc(100% - 230px);

    height: 90px;

    position: fixed;
    right: 0;

    justify-content: flex-end;
    align-items: center;


    padding: 20px;

    background-color: lightgrey;
}

.upgrade .btn a {
    font-weight: bold;
    color: white;
}
/* fine upgrade */


.front-box {
    padding: 90px 20px;
}


/* lista */
.front-box .list-front ul{
    display: flex;
    justify-content: center;

    gap: 25px;

    padding-block: 20px;
}

.front-box .list-front ul a {
    font-weight: bold;
    color: #7d7f84;
}
/* lista */


.column {
    display: flex;
    flex-direction: column;

    gap: 30px;
    padding-block: 20px;

}

#cards {
    flex-wrap: wrap;
    /* test */
    display: flex;

    gap: 15px;
}

.card {
    width: calc(100% / 6);
    text-align: center;
    justify-content: center;
}

.card .card-img {
    min-width: 177px;
    height: 177px;
    
    background-color: grey;
    /* test */
}
/************ FINE FRONT PAGE ********/



/* Player */

footer {
    height: 90px;
    color: white;
    /* test */

    width: 100%;

    position: fixed;
    bottom: 0;

    background-color: #282828;
}

/* Fine player */



/************************************************
        MEDIA QUERY
**************************************************/

@media screen and (max-width: 992px) {

}



@media screen and (max-width: 768px) {
    
}



@media screen and (max-width: 576px) {
    
}